html {
  font-size: 62.5%;
}

html body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 1.4rem !important;
  min-width: 34rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-container {
  height: calc(100vh - 3.8rem);
}

.app-info-container {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}